<h3 class="p-component" style="margin-left: 1rem; text-decoration: underline;">Devices</h3>
<p-table [value]="deviceList" styleClass="p-datatable-striped" responsiveLayout="scroll" size="small">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Telemetry</th>
            <th>Make</th>
            <th>Model</th>
            <th>Data saver</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>TZ</th>
            <th>Time DST</th>
            <th>Time STD</th>
            <th>Location</th>
            <th>Bridge</th>
            <th>Passive</th>
            <th>Zone</th>
            <th>Area</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-device>
        <tr>
            <td>{{device.name}}</td>
            <td>{{device.description}}</td>
            <td>{{device.deviceType}}</td>
            <td>{{device.telemetry}}</td>
            <td>{{device.make}}</td>
            <td>{{device.model}}</td>
            <td>{{device.enableDataSaver}}</td>
            <td>{{device.deviceConfig.latitudeDegrees}}</td>
            <td>{{device.deviceConfig.longitudeDegrees}}</td>
            <td>{{device.deviceConfig.timezoneOffset}}</td>
            <td>{{device.deviceConfig.timeDst}}</td>
            <td>{{device.deviceConfig.timeStd}}</td>
            <td>{{device.location}}</td>
            <td>{{device.bridge}}</td>
            <td>{{device.passive}}</td>
            <td>{{device.zone?.name}}</td>
            <td>{{device.area?.name}}</td>
    </ng-template>
</p-table>