<!-- <h2 class="text-3xl font-bold underline">
    Test tailwind css!
</h2>
<p-button label="Test primeng" /> -->


<!-- <ng-container *ngIf="!disableParentMessages"> -->

<div class="min-h-screen flex flex-col p-2">
    <p-messages></p-messages>
    <app-backend-stacktrace-display></app-backend-stacktrace-display>
    <!-- </ng-container> -->
    <app-menu></app-menu>

    <!-- <div class="mt-4"></div> -->

    <!-- Main Content Area -->
    <main class="flex-1 p-4">
        <router-outlet></router-outlet>
    </main>

    <footer class="text-center text-sm text-gray-500 py-3">
        © 2026 Kernel Development & Consulting Inc
        <a (click)="buildInfo.toggle($event)" class="underline decoration-dotted cursor-pointer">
            (Version Info)
        </a>
    </footer>

    <p-popover [dismissable]="true" #buildInfo>
        BE {{serverBuildInfo}}<br />FE {{clientBuildInfo}}
    </p-popover>

</div>