<!-- <ng-container *ngIf="!disableParentMessages"> -->
<p-messages></p-messages>
<app-backend-stacktrace-display></app-backend-stacktrace-display>
<!-- </ng-container> -->
<app-menu style="margin-top: 1rem;"></app-menu>
<div style="margin-top: 1rem;"></div>
<router-outlet></router-outlet>


<!-- <div style="margin-top: 1rem; text-align: center">
    <small style="color: darkgrey">&copy; Copyright 2024 Kernel Development &amp; Consulting
        <span pTooltip="BE {{serverBuildTimestamp}}<br/>FE {{clientBuildTimestamp}}" [escape]="false"
            tooltipPosition="top">(Version Info)</span>
    </small>
</div> -->

<div style="margin-top: 1rem; text-align: center">
    <small style="color: darkgrey">&copy; Copyright 2025 Kernel Development &amp; Consulting Inc
        <a (click)="buildInfo.toggle($event)" class="underline-dotted">(Version Info)</a>
    </small>
</div>

<p-popover [dismissable]="true" #buildInfo>
    BE {{serverBuildInfo}}<br />FE {{clientBuildInfo}}
</p-popover>