<h3 class="p-component" style="margin-left: 1rem; text-decoration: underline;">Dashboard</h3>
<ng-container *ngIf="groupedDeviceAttributesMap | keyvalue">

    <p-tabs value="0">

        <p-tablist>
            <p-tab *ngFor="let zoneEntry of groupedDeviceAttributesMap | keyvalue ; let i = index"
                [value]="i.toString()">
                {{ zoneEntry.key }}
            </p-tab>
        </p-tablist>

        <p-tabpanels>
            <p-tabpanel *ngFor="let zoneEntry of groupedDeviceAttributesMap | keyvalue ; let i = index"
                [value]="i.toString()">

                <div class="formgroup-inline">
                    <div class="field-radiobutton" *ngFor="let areaEntry of zoneEntry.value | keyvalue">

                        <ng-container *ngIf="areaEntry.key !== '0'; then card; else noCard">
                        </ng-container>
                        <ng-template #card>
                            <p-card [header]="areaEntry.key" [style]="{ background: '#E6E6E6', width: '25rem'}">
                                <ng-container *ngTemplateOutlet="cardContent; context: { $implicit: areaEntry.value}">
                                </ng-container>
                            </p-card>
                        </ng-template>
                        <ng-template #noCard>
                            <ng-container *ngTemplateOutlet="cardContent; context: { $implicit: areaEntry.value }">
                            </ng-container>
                        </ng-template>

                        <ng-template #cardContent>

                            <div *ngFor="let deviceAttributeEntry of areaEntry.value | keyvalue"
                                class="grid align-items-center mb-3">

                                <div class="col-12 md:col-8">
                                    <label for="deviceState" class="font-bold col-fixed">
                                        {{deviceAttributeEntry.value.device.description}}
                                    </label>
                                </div>

                                <div class="col-12 md:col-4">
                                    <ng-container
                                        *ngIf="deviceAttributeEntry.value.device.passive; then passiveDeviceTemplate; else activeDeviceTemplate">
                                    </ng-container>
                                    <!-- active device template -->
                                    <ng-template #activeDeviceTemplate>
                                        <p-selectButton id="deviceState" [options]="powerStateOptions"
                                            optionLabel="label" optionValue="value"
                                            [(ngModel)]="deviceAttributeEntry.value.powerState.power"
                                            (onChange)="toggleDevicePower($event, deviceAttributeEntry.key)"
                                            [disabled]="(deviceAttributeEntry.value.connectionStateBehaviorSubject | async)?.state !== 'ONLINE'">
                                        </p-selectButton>
                                    </ng-template>
                                    <!-- active passive template -->
                                    <ng-template #passiveDeviceTemplate>
                                        <ng-container [ngSwitch]="deviceAttributeEntry.value.device.deviceType">
                                            <span *ngSwitchCase="'MOTION_SENSOR'">
                                                {{extractFromJsonString(deviceAttributeEntry.value.zigbee2MqttState,
                                                'occupancy')}}</span>
                                            <span
                                                *ngSwitchCase="'BODY_SENSOR'">{{extractFromJsonString(deviceAttributeEntry.value.zigbee2MqttState,
                                                'occupancy')}}</span>
                                            <span *ngSwitchDefault>unhandled device</span>
                                        </ng-container>
                                        <span
                                            class="text-color-secondary">{{deviceAttributeEntry.value.device.deviceType}}</span>
                                    </ng-template>
                                    <span *ngIf="deviceAttributeEntry.value.zigbee2MqttState"
                                        class="ml-2 text-color-secondary">({{deviceAttributeEntry.value.zigbee2MqttState}})</span>
                                </div>
                            </div>

                        </ng-template>

                    </div>
                </div>

                <!-- sensor data section -->

                <div class="formgroup-inline">
                    <div class="field-radiobutton">

                        <label for="sensorDataSelection" class="font-bold col-fixed p-component"
                            style="width: 8rem;">Sensor
                            data</label>

                        <p-select id="sensorDataSelection" [options]="deviceAttributesMap | keyvalue"
                            [(ngModel)]="selectedDeviceNameForSensorData" optionLabel="value.device.description"
                            optionValue="key" placeholder=" Select device"
                            (onChange)="onSelectSensorDataForDeviceName($event)" [showClear]="true">
                        </p-select>

                    </div>
                </div>

                <div class="form-grid" style="margin-left: 0.5rem;"
                    *ngIf="selectedDeviceNameForSensorData && ! deviceAttributesMap[selectedDeviceNameForSensorData]?.sensorData?.ENERGY">
                    <div class="grid">
                        <div class="col" style="font-style: italic;">Device does not provide telemetry or no data
                            received.
                        </div>
                    </div>
                </div>

                <div class="form-grid" style="margin-left: 1rem;"
                    *ngIf="selectedDeviceNameForSensorData && deviceAttributesMap[selectedDeviceNameForSensorData]?.sensorData?.ENERGY">

                    <div class="grid">
                        <div class="col-fixed font-bold p-component" style="width:9.5rem;">Time</div>
                        <div class="col">
                            {{deviceAttributesMap[selectedDeviceNameForSensorData].sensorData.Time | date:'medium'}}
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-fixed font-bold p-component" style="width:9.5rem;">Voltage</div>
                        <div class="col">
                            {{deviceAttributesMap[selectedDeviceNameForSensorData].sensorData.ENERGY.Voltage}} V
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-fixed font-bold p-component" style="width:9.5rem;">Current</div>
                        <div class="col">
                            {{deviceAttributesMap[selectedDeviceNameForSensorData].sensorData.ENERGY.Current}} A</div>
                    </div>
                    <div class="grid">
                        <div class="col-fixed font-bold p-component" style="width:9.5rem;">Power</div>
                        <div class="col">
                            {{deviceAttributesMap[selectedDeviceNameForSensorData].sensorData.ENERGY.Power}} W</div>
                    </div>
                    <div class="grid">
                        <div class="col-fixed font-bold p-component" style="width:9.5rem;">Energy today</div>
                        <div class="col">
                            {{deviceAttributesMap[selectedDeviceNameForSensorData].sensorData.ENERGY.Today}} kWh</div>
                    </div>
                    <div class="grid">
                        <div class="col-fixed font-bold p-component" style="width:9.5rem;">Energy yesterday</div>
                        <div class="col">
                            {{deviceAttributesMap[selectedDeviceNameForSensorData].sensorData.ENERGY.Yesterday}} kWh
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-fixed font-bold p-component" style="width:9.5rem;">Energy total</div>
                        <div class="col">
                            {{deviceAttributesMap[selectedDeviceNameForSensorData].sensorData.ENERGY.Total}} kWh (since
                            {{deviceAttributesMap[selectedDeviceNameForSensorData].sensorData.ENERGY.TotalStartTime |
                            date:'medium'}})
                        </div>
                    </div>
                </div>

                <div style="margin-left: 1rem; margin-top: 0.5rem;">
                    <button pButton type="button" label="Refresh" (click)="onRefreshSensorData($event)"
                        [disabled]="! selectedDeviceNameForSensorData || ! deviceAttributesMap[selectedDeviceNameForSensorData].device.telemetry
        || (deviceAttributesMap[selectedDeviceNameForSensorData].connectionStateBehaviorSubject | async)?.state !== 'ONLINE'"></button>
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</ng-container>