@import "tailwindcss";
@import "primeicons/primeicons.css";


/* html {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1rem;
} */

@layer base {
    html {
        font-size: 1rem;
    }

    body,
    .p-component {
        font-family: Roboto, Helvetica, Arial, sans-serif;
    }
}